# Download your credentials.json file from: https://developers.google.com/gmail/api/quickstart/ruby
{
	"installed": {
		"client_id": "9990000111-xxx22312yyyyy.apps.googleusercontent.com",
		"project_id": "gmail-api-project-111222333444",
		"auth_uri": "https://accounts.google.com/o/oauth2/auth",
		"token_uri": "https://www.googleapis.com/oauth2/v3/token",
		"auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
		"client_secret": "asojoOASOdamasdasd",
		"redirect_uris": ["urn:ietf:wg:oauth:2.0:oob", "http://localhost"]
	}
}